@model IEnumerable<JobPortal.Models.Bookmark>

@{
    ViewBag.Title = "Saved jobs";
    Layout = "~/Views/Shared/JobSeekerLayout.cshtml";
}

<h2>Saved jobs</h2>

<p>
    @Html.ActionLink("Apply for new position", "Jobs", null, new { @class = "btn btn-success" })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <p>Job Id : @item.JobId</p>
                    <h5 class="card-title"><a href="@Url.Action("JobDetails", new {id=item.JobId})" class="job-link">@item.JobTitle</a> </h5>
                </div>
            </div>
        </div>
    }
</div>
